[submodule "Libft"]
	path = Libft
	url = https://github.com/esnowpea/Libft.git
[submodule "visual/Libvisual"]
	path = visual/Libvisual
	url = https://github.com/esnowpea/Libvisual.git
[submodule "Libftprintf"]
	path = Libftprintf
	url = https://github.com/esnowpea/Libftprintf.git
